<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Foodprints - An interactive foodnetwork!</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "home/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static "home/css/index.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "home/vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">


</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">Foodprints</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#get-started">Get started</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive img-rounded" src="{% static "/home/img/foodprints-logo-resized.png" %}" alt="">
                    <div class="intro-text">
                        <span class="name">Foodprints</span>
                        <hr class="star-light">
                        <span class="skills">Food Information - Associations - Relations</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Get-started Grid Section -->
    <section id="get-started">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Get-Started</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 get-started-item">
                    <a href = "graphview">
                        <img src="{% static "/home/img/portfolio/cabin.png" %}" class="img-responsive" alt="">
                    </a>
                    <p>Take me to a specific point in the network!</p>
                </div>
                <div class="col-sm-3 get-started-item">
                    <a href = "graphview">
                        <img src="{% static "/home/img/portfolio/cake.png" %}" class="img-responsive" alt="">
                    </a>
                    <p>Take me to a random point in the network!</p>
                </div>
                <div class="col-sm-3 get-started-item">
                    <a href = "graphview">
                        <img src="{% static "/home/img/portfolio/circus.png" %}" class="img-responsive" alt="">
                    </a>
                    <p>Show me all the recipes in the network!</p>
                </div>
                <div class="col-sm-3 get-started-item">
                    <a href = "graphview">
                        <img src="{% static "/home/img/portfolio/game.png" %}" class="img-responsive" alt="">
                    </a>
                    <p>Let me add a recipe of my own!</p>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>"What should I have for dinner?" It is a common question we face every day. A simple question, however, sometimes we might find it's hard to solve. So, we designed a web app that helps people with their eating decisions. Furthermore the application not only helps the users make a choice, but also helps them understand the food they eat every day more and the relations between it.</p>
                </div>
                <div class="col-lg-4">
                    <p>We hope you can find joy while exploring the dishes in our application and become inspired. Find out how healthy the food you eat is and have "What do I eat today?" become a fun part of your day. No longer an annoyance!!</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-6">
                        <h3>Location</h3>
                        <p>Niels Bohrweg 1
                            <br>2333 CA, Leiden</p>
                    </div>
                    <div class="footer-col col-md-6">
                        <h3>About Foodprints</h3>
                        <p>Foodprints is a project made with the intent of gathering scientific data, created by Ashley Pinhsien Lee and Ruben van der Waal</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Foodprints
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="{% static "/home/vendor/jquery/jquery.min.js" %}" ></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "/home/vendor/bootstrap/js/bootstrap.min.js" %}" ></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="{% static "/home/js/freelancer.min.js" %}"></script>

</body>

</html>
